<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50" *ngFor="let data of objCountData">
            <div class="card o-hidden widget-cards">
                <div [class]="data.bgColorClass">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icon [icon]="data.icon" [class]="data.fontColorClass"></app-feather-icon>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">{{data.title}}</span>
                            <h3 class="mb-0">₹ <span class="counter" [countUp]="data.count"></span><small> This
                                    Year</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Latest Orders</h5>
                </div>
                <div class="card-body">
                    <ag-grid-angular class="ag-theme-quartz" [rowData]="orders" [columnDefs]="columnDefs"
                        [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                        [paginationPageSizeSelector]="paginationPageSizeSelector" [gridOptions]="gridOptions">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Order Status</h5>
                </div>
                <div class="card-body sell-graph">
                    <ng-template [ngIf]="orderStatusChart">
                        <google-chart [data]="orderStatusChart"></google-chart>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>